{
  "e8ab2f35b3af": {
    "nodeinfo": {
      "location": {
        "latitude": 49.107277555516994,
        "longitude": 5.0093256235123
      },
      "owner": {
        "contact": "info@example.org"
      },
      "hostname": "Donald-Outdoor"
    }
  }
}
