{
  "e8ab2f35b3af": {
    "nodeinfo": {
      "location": {
        "latitude": 49.107277555516994,
        "longitude": 5.0093256235123
      },
      "owner": {
        "contact": "donald@example.org"
      },
      "hostname": "Donald-Outdoor"
    }
  },
  "ae8ab2f3aaaa": {
    "nodeinfo": {
      "location": {
        "latitude": 48.107345345,
        "longitude": 5.1234321454
      },
      "owner": {
        "contact": "daisy@example.org"
      },
      "hostname": "Daisy-Outdoor"
    }
  }
}
