{
  "core": {
    "backup": {
      "interval": 60000,
      "file": "./raw.json"
    },
    "aliases": {
      "file": "./aliases.json"
    }
  },
  "receiver": {
    "announced": {
      "target": {
        "ip": "ff02::1",
        "port": 1001
      },
      "port": 45123,
      "interval": {
        "statistics": 60,
        "nodeinfo": 500
      }
    },
    "ifaces": [
      "bat0",
      "enp4s0"
    ]
  },
  "provider": {
    "hopglass": {
      "offlineTime": 900
    }
  },
  "webserver": {
    "ip": "::",
    "port": 4000
  }
}
