[Unit]
Description=The HopGlass Server collects data from the Freifunk network (%I)

[Service]
Type=simple
DynamicUser=yes
WorkingDirectory=/var/lib/hopglass-server
StateDirectory=hopglass-server
ExecStart=/usr/bin/env node /opt/hopglass/server/hopglass-server.js
Restart=always

[Install]
WantedBy=multi-user.target
