[Unit]
Description=The HopGlass Server collects data from the Freifunk network (%I)

[Service]
Type=simple
User=hopglass
Group=hopglass
WorkingDirectory=/opt/hopglass/server
ExecStart=/usr/bin/node --harmony /opt/hopglass/server/hopglass-server.js --config /etc/hopglass-server/%I/config.json
Restart=always

[Install]
WantedBy=multi-user.target
